* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  background-color: #252836;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  color: white;
}

a {
  text-decoration: none;
}